@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');


.deviceCard, .deviceCard-active{
    background-color:white;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 160px;
    padding-top: 15px;
    border-left: 1px solid #eee;
    
}

.deviceCard-active {
    z-index: 1000;
    
}

.deviceImg img{
    height: 50px;
}

.deviceName {
    font-size: 0.8em; 
     
}

.divider {
    background-color: #e50914;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 466px;
}

@media(min-width:800px) {
    .deviceCard, .deviceCard-active {
        width: 200px
    }
}

@media(max-width:1000px){
    .divider {
        top: 540px;
            
    }
}

@media(max-width:800px){
    .divider {
        top: 540px;
            
    }
}

@media(max-width:650px){
    .deviceCard, .deviceCard-active {
        min-width: 100px;
    }

    .divider {
        top: 540px;
            
    }
}



