@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');

.deviceCard, .deviceCard-active{
    background-color: white;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    width: Calc(100%/7);
    height: 160px;
    padding-top: 15px;
    border-left: 1px solid #eee;
    
}

.deviceCard-active {
    z-index: 1000;
}

.deviceImg img{
    height: 50px;
}

.deviceName {
    font-size: 0.8em; 
     
}

.divider {
    background-color: #e50914;
    width: 100%;
    height: 20px;
    top:140px;
    position: absolute;
    
}



